.toolbar {
  margin-left: 3em;
  height: 0;
  margin-bottom: -1em;
}

.button {
  margin: 2px;
  padding: 0;
  height: 1.5em;
  border-style: outset;
  border-radius: 5px;
  border-width: 2px;
}

.buttonWrapper {
  display: inline-block;
}

.buttonActive {
  margin: 2px;
  padding: 0;
  height: 1.5em;
  border-style: inset;
  border-radius: 5px;
  border-width: 2px;
}

.submitComment {
  right: 5em;
  position: absolute;
  margin-top: -1.5em;
}
