.commentsTitle {
  font-family: League;
  font-size: 200%;
}

.commentsCounter {
  font-family: Kadel;
  font-size: 50%;
  padding: 0.2em;
  font-weight: normal;
  margin-right: 0.4em;
}

.replyButton {
  right: 5em;
  position: absolute;
}

.newComment {
  margin-bottom: 4em;
}

.author {
  font-family: League;
  text-align: center;
}

.avatar {
  width: 100%;
}

.commentsList {
}

.repliesText {
  float: right;
  margin-top: 0.5em;
}
.repliesText:hover {
  color: blue;
}

.commentRow {
  display: flex;
  position: relative;
}
.avatarCol {
  width: 180px;
  margin: 0.5em;
  text-align: center;
  align-self: flex-end;
}
.commentCol {
  position: relative;
  width: 100%;
  align-self: flex-end;
}
.engagement {
  margin-top: 1em;
  margin-left: 1em;
}

.speechBubble {
  padding: 0.1em 1em;
  margin: 1em;
  border-radius: 0.4em;
  position: relative;
}

.speechBubbleLeft {
  composes: speechBubble;
  background: linear-gradient(
      150deg,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 66, 123, 0.1) 100%
    ),
    linear-gradient(270deg, rgba(0, 0, 0, 0) 80%, rgba(0, 66, 123, 0.1) 100%);
}

.speechBubbleRight {
  composes: speechBubble;
  background: linear-gradient(
      330deg,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 123, 66, 0.1) 100%
    ),
    linear-gradient(90deg, rgba(0, 0, 0, 0) 80%, rgba(0, 123, 66, 0.1) 100%);
}

.speechBubbleShout {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 46px solid transparent;
  border-bottom: 0;
  margin-top: -23px;
  margin-left: -46px;
}

.speechBubbleLeft:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 46px solid transparent;
  border-bottom: 0;
  margin-top: -69px;
  margin-left: -46px;

  left: 0;
  border-right-color: rgba(0, 66, 123, 0.1);
  border-left: 0;
  border-radius: 0 0 0 23px;
}

.speechBubbleRight:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 46px solid transparent;
  border-bottom: 0;
  margin-top: -69px;
  margin-right: -46px;

  right: 0;
  border-left-color: rgba(0, 123, 66, 0.1);
  border-right: 0;
  border-radius: 0 0 23px 0;
}
