.engaged {
  width: 3em;
  float: left;
}

.engagement {
  width: 50%;
  color: lightgrey;
}

.count {
  font-family: League;
  font-weight: bold;
}

.likes {
  composes: engagement;
  float: right;
  text-align: right;
}

.chosenLike {
  color: darkgreen;
}

.hoverLike {
  color: greenyellow;
}

.dislikes {
  composes: engagement;
  float: left;
}

.chosenDislike {
  color: darkred;
}

.hoverDislike {
  color: red;
}

.engagementIcon {
  display: block;
}

