.session {
  position: absolute;
  margin-left: -400%;
  width: 100px;
}

.hoverOn {
  color: lightblue;
}

.hoverOff {
  color: darkblue;
}

.lefty {
  font-size: 80%;
  width: 100%;
}

.link {
  color: blue !important;
}

.invalid {
  color: red;
  font-size: small;
  margin-left: 10em;
}

.avatar {
  width: 48px;
  float: left;
}

.notLoggedIn {
  opacity: 0.3;
}

.prepend {
  flex: 0 0 5em;
}

.prepend span {
  width: 100%;
}

.error {
  background: #fdd;
}

.facebook {
  text-align: center;
}

.facebook button {
  padding: 0 1em;
  text-transform: none;
}
