.tag {
  background-color: #def;
  padding: 7px;
  padding-bottom: 0;
  float: right;
  box-shadow: 1px 2px 3px 4px;
  border-radius: 11px;
  margin-right: 1em;
}

.tag:hover {
  background-color: #abc;
}


