.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/*
.comments .icon {
  float:right;
}

.comments.panel {
  margin-top: 3em;
}
*/

.comments {
  clear: both;
  border: none;
  margin-top: -2em;
  background: none;
}

.comments .DraftEditor-root {
  border        : 1px solid darkblue;
  margin        : 2em;
  padding       : 1em;
  border-radius : 0.5em;
  box-shadow    : 1px 1px 2px 2px #678;
}

.comments .public-DraftEditorPlaceholder-root {
  position: absolute;
  display: inline;
  margin-left: 2px;
  font-style: italic;
}


